<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
              </li>
              {%- if site.email -%}
              <li><a class="u-email"">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
        </div>
  
  
      </div>
  
      <script>
      function toggleAbstract(ele) {
        var x = document.getElementById(ele.value);
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
      </script>
  
    </div>
  
  
  
  
  
  
  </footer>
  